#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/makefile.mk

install/rabbitmq-common-plugins::
	sed -e 's|@RABBIT_VERSION@|$(DEB_UPSTREAM_VERSION)|g' <debian/install.in >debian/install
